# Server Configuration
PORT=3000

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=factre-kafka-sse-service
KAFKA_GROUP_ID=factre-sse-consumer-group
KAFKA_TOPIC=telemetry-topic

# GraphQL Configuration
GRAPHQL_ENDPOINT=https://cbpuat-in-api.royalenfield.com/ffmech/core/v1/graphql
