PORT=4006
API_KEY=

# Vehicle DB (c2c_device_registration_service_db)
VEHICLE_DB_HOST=
VEHICLE_DB_PORT=5432
VEHICLE_DB_USER=
VEHICLE_DB_PASSWORD=

# Telemetry DB (c2c_telemetry_db)
TELEMETRY_DB_HOST=
TELEMETRY_DB_PORT=5432
TELEMETRY_DB_USER=
TELEMETRY_DB_PASSWORD=

# Diagnostic DB (c2c_vehicle_diagnostic_db)
DIAGNOSTIC_DB_HOST=
DIAGNOSTIC_DB_PORT=5432
DIAGNOSTIC_DB_USER=
DIAGNOSTIC_DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_AUTH_KEY=
REDIS_TLS=false
